@import url(theme.css);

* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  color: #fff;
  font-size: 1rem;
}

.header__logo {
  background-color: aquamarine;
  padding: 1rem;
}

.header__menu {
  background-color: lightskyblue;
  padding: 1rem;
}

.banner {
  background-color: red;
  padding: 4rem;
}

.bolum {
  background-color: greenyellow;
  height: calc(100vh - 330px);
  border: 1px solid grey;
}

.bolum__end {
  background-color: tomato;
  padding: 1rem;
  border: 1px solid grey;
}

.footer {
  background-color: violet;
  padding: 2rem;
}
