* {
  margin: 0;
}

body {
  height: 100vh;
}

.abs {
  background-color: aqua;
  width: 100px;
}
.div2 {
  background-color: tomato; /* parent olduğu için bg-color child div3 de boyar*/
  width: 50%;
  height: 50%;
}
.div3 {
  background-color: violet;
  width: 50%; /* parent div2 de width olmazsa bunu uygulamaz*/
  height: 50%; /* parent div2 de height olmazsa bunu uygulamaz*/
}

/*! viewport ölçü birimleri parent'ın büyüklüğü ile ilgili değildir. Sadece tarayıcının görülebilir alanına göre oranlama yapar.  */

.div4 {
  background-color: yellowgreen;
  width: 60vw;
  height: 20vh;
}

.div5 {
  font-size: 1em;
}

.div6 {
  font-size: 2em;
}

.div7 {
  font-size: 3em;
}
