* {
    margin: 0;
    padding: 0;

}

#box1 {
    border-style: solid dotted dashed groove;
    border-width: 3px 6px 1px 4px;
    border-color: green;
}

#box2 {
    border: double;
    border-width: 2px;
    border-color: palevioletred;
    border-radius: 10px;

}

#box3 {
    border: 3px ridge grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 16px;

}

#box4 {
    background-color: #d443cb;
    color: #0bc9bf;

}

#box5 {
    background-color: hsla(240, 100%, 50%, 0.3);
    color: #b8538a;
}

#box6 {


}

#box7 {

    
}

div {
    border-radius: 10px;
    border: 3px solid red;
    margin: 10px;
}